{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">智障问答室</span>
                </li>
                <li>
                    <a href="{{ url_for('web.logout') }}">
                         注销
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row gua-page todo-list border-bottom white-bg dashboard-header">
        <div class="col-sm-3" style="width:100%;">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>智障问答室</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Miscellaneous</a>
                        </li>
                        <li class="active">
                            <strong>Chat view</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content animated">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">

                                <strong>Chat room </strong> can be used to create chat room in your app.
                                You can also use a small chat in the right corner to provide live discussion.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <div class="ibox chat-view">
                                <div class="ibox-title">
                                    <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
                                     智障问答室
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-9" style="width:100%;">
                                            <div class="chat-discussion">
                                                {% for m in messages %}
                                                    {% if m.index == 're' %}
                                                        <div class="chat-message left">
                                                            <img class="message-avatar" src="{{url_for('static', filename='img/a10.jpg')}}">
                                                            <div class="message">
                                                                <p class="message-author"> Michael Smith </p>
                                                                <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                <span class="message-content">
                                                                {{ m.message }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if m.index == 'send' %}
                                                        <div class="chat-message right">
                                                            <img class="message-avatar" src="{{url_for('static', filename='img/a9.jpg')}}">
                                                            <div class="message">
                                                                <p class="message-author"> Karl Jordan </p>
                                                                <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                                <span class="message-content">
                                                                    {{ m.message }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div id="down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="chat-message-form">
                                                <div class="form-group">
                                                    <form action="{{ url_for('web.send_message')}}" method="post">
                                                        <textarea class="form-control message-input" name="message" placeholder="请输入要提问的问题"></textarea>
                                                        <input class="btn btn-block btn-outline btn-primary" type="submit" value="发送">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="http://baidu.com"  target="" id="uploadForm" enctype="multipart/form-data">
                                        <!--<input id="file" type="file" name="file" />-->
                                        <input type="file" id="file-input" name="fileContent">
                                        <input type="submit" name="submit" id="submit" value="upload" />
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var formData = new FormData();
    var files = $("#file-input").files;
    formData.append("file", files[0]);
    $.ajax({
        url: '/upload/order',
        type: 'POST',
        data: formData,
        processData: false, //  告诉jquery不要处理发送的数据
        contentType: false // 告诉jquery不要设置content-Type请求头
    }).done(function (res) {
    }).fail(function (res) {
        console.log("失败");
    });
    document.getElementById("down").scrollIntoView();

    var ajax = function(request) {
    var r = new XMLHttpRequest();
    r.open(request.method, request.url, true);
    if (request.contentType !== undefined) {
        r.setRequestHeader('Content-Type', request.contentType)
    }
    r.onreadystatechange = function(event) {
        if(r.readyState === 4) {
            request.callback(r.response)
        }
    }
    if (request.method === 'GET') {
        r.send()
    } else {
        r.send(request.data)
    }
};
var blogNew = function(form) {
    var data = JSON.stringify(form);
    var request = {
        method: 'POST',
        url: '/api/blog/add',
        data: data,
        contentType: 'application/json',
        callback: function(response) {
            var res = JSON.parse(response)
        }
    };
    ajax(request)
};
</script>
{% endblock %}
